.coordinates {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  margin: 0 auto;
  margin-top: 1rem;
  width: var(--column-width-mobile);
}

.coordinates-instructions,
.coordinates-input,
.coordinates-button {
  font-size: 1rem;
}

.coordinates-instructions {
  grid-column: 2 / span 11;
}

.coordinates-input,
.coordinates-button {
  border-radius: 1rem;
  grid-column: 2 / span 10;
  padding: 1rem;
}

.coordinates-input {
  border: 1px solid var(--color-black);
  margin-bottom: 1rem;
}

.coordinates-button {
  background-color: var(--color-primary-default);
  border: 0;
  color: var(--color-white);
}

@media (min-width: 576px) {
  .coordinates {
    grid-template-columns: repeat(11, 1fr);
    width: var(--column-width-desktop);
  }

  .coordinates-instructions,
  .coordinates-input,
  .coordinates-button {
    font-size: 1.5rem;
  }

  .coordinates-input {
    grid-column: 2 / span 4;
    margin-bottom: unset;
  }

  .coordinates-button {
    grid-column: -6 / span 5;
  }

  .coordinates-button:hover {
    background-color: var(--color-primary-hover);
    cursor: pointer;
  }

  .coordinates-button:active {
    background-color: var(--color-primary-active);
  }
}
