:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary-default: #0d6efd;
  --color-primary-hover: #0b5ed7;
  --color-primary-active: #0a58ca;
  --color-success: #198754;
  --color-warning: #dc3545;
  --column-width-mobile: calc((1.5rem + 2px) * 11);
  --column-width-desktop: calc((3rem + 2px) * 11);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
