.container {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  width: min-content;
}

.column-labels,
.column-label,
.row-label,
.row {
  display: flex;
}

.empty-cell,
.column-label,
.row-label,
.cell {
  height: 1.5rem;
  width: 1.5rem;
}

.empty-cell,
.column-label,
.row-label {
  border: 1px solid transparent;
}

.cell {
  border: 1px solid var(--color-black);
}

.column-label,
.row-label {
  align-items: center;
  justify-content: center;
}

.none,
.ship {
  background-color: var(--color-white);
}

.hit {
  background-color: var(--color-success);
}

.miss {
  background-color: var(--color-black);
}

.sunk {
  background: var(--color-sunk);
}

@media (min-width: 576px) {
  .container {
    margin-bottom: 0.75rem;
  }

  .empty-cell,
  .column-label,
  .row-label,
  .cell {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    margin-bottom: 1rem;
  }

  .empty-cell,
  .column-label,
  .row-label,
  .cell {
    height: 3rem;
    width: 3rem;
  }
}