.container {
  margin: 0 auto;
  width: min-content;
}

.column-labels,
.column-label,
.row-label,
.row {
  display: flex;
}

.empty-cell,
.column-label,
.row-label,
.cell {
  height: 1.5rem;
  width: 1.5rem;
}

.empty-cell,
.column-label,
.row-label {
  border: 1px solid transparent;
}

.cell {
  border: 1px solid var(--color-black);
}

.column-label,
.row-label {
  align-items: center;
  justify-content: center;
}

.none {
  background-color: var(--color-white);
}

.hit {
  background-color: var(--color-success);
}

.miss {
  background-color: var(--color-black);
}

@media (min-width: 576px) {
  .empty-cell,
  .column-label,
  .row-label,
  .cell {
    height: 3rem;
    width: 3rem;
  }
}
